{% extends "base.html" %}

{% block title %}
    Budget
{% endblock %}

{% block main %}
    <section class="hero">
        <div class="container">
            <img src="static/logo-remove.png" width=25%>
            <h1>Create Efficient Budgets<br> with Real-Time Market Data</h1>
            <p>Optimize your financial decisions with our comprehensive budgeting and market analysis tool.</p>
            <a href="/register" class="btn btn-primary">Register</a>
            <a href="/login" class="btn btn-primary">Log In</a>
        </div>
    </section>
{% endblock %}
